<h1>月次集計</h1>
<table border=3>
  <tr>
    <th>月</th>
    <% @items.each do |item| %>
    <th><%= item.name %></th>
    <% end %>
    <th>予算</th>
    <th>支出合計</th>
  </tr>

  <% 12.times do |n| %>
  <tr>
    <th><%= "#{n+1}月" %></th>
    <% result = Monthlytotal.new(Time.local(2012, n+1)) %>
    <% @items.each do |item| %>
    <th><%= result.total_of item.name %></th>
    <% end %>
    
    <th><%= result.total_of_estimate %></th>
    <th><%= result.total_of_payment %></th>
  </tr>
  <% end %>
</table>
